<div data-controller="tutor-sessions"
    data-action= "google-maps-callback@window->tutor-sessions#initializeMap"
    data-target="tutor-sessions.wrappedWithContainer"
    data-tutor-sessions-webIcon = "<%= asset_path('header_img_web_app.png') %>"
    data-tutor-sessions-mobileIcon = "<%= asset_path('header_img_mobile_app.png') %>"
    data-tutor-sessions-languageIcon = "<%= asset_path('header_img_language.png') %>"
    >
  <%= form_with model: tutor_session, local: true, class: "row mx-0" do |form| %>
    <div class="col-12 col-md-6" data-target= "tutor-sessions.entireLayout">
      <%# display error if any %>
      <% if tutor_session.errors.any? %>
        <div id="error_explanation">
          <h4 class="text-info"><%= pluralize(tutor_session.errors.count, "error") %> prohibited this tutor session from being saved:</h4>

          <ul>
            <% tutor_session.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# display title %>
      <div class="form-group field">
        <%= form.label :title %>
        <%= form.text_field :title, autofocus: true, class: "form-control" %>
      </div>

      <%# Display place and category %>
      <div class="row">
        <div class="form-group field col-12 col-md-6">
          <%= form.label :place %>
          <%# bootstarp "form-control" class does NOT work for form.select, so select tag is used %>
          <%#= form.select :place, TutorSession.places.map {|key, value| [key, value]}, class: "form-control" %>
          <select name="tutor_session[place]"
              id="tutor_session_place"
              class="form-control"
              data-target="tutor-sessions.place"
              data-action="change->tutor-sessions#handle_change_place">
            <% TutorSession.places.each do |key, value| %>
              <%# "selected" attribute is a little bit wierd like even if there is selected="false", it will take it as selected %>
              <% if tutor_session.place == key %>
                <option value="<%= key %>" selected><%= value %> </option>
              <% else %>
                <option value="<%= key %>"><%= value %> </option>
              <% end %>

            <% end %>
          </select>
        </div>

        <div class="form-group field col-12 col-md-6">
          <%= form.label :category %>
          <%# bootstarp "form-control" class does NOT work for form.select, so select tag is used %>
          <%#= form.select :category, TutorSession.categories.map {|key, value| [value, key]}, class: "form-control" %>
          <select name="tutor_session[category]"
              id="tutor_session_category"
              class="form-control"
              data-target="tutor-sessions.category"
              data-action="change->tutor-sessions#handle_change_category">
            <% TutorSession.categories.each do |key, value| %>
              <%# "selected" attribute is a little bit wierd like even if there is selected="false", it will take it as selected %>
              <% if tutor_session.category == key %>
                <option value="<%= key %>" selected><%= value %> </option>
              <% else %>
                <option value="<%= key %>"><%= value %> </option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <%# display header image. The value is hidden, and only image itself will be displayed %>
      <div class="form-group field">
        <%= form.label :header_img, "Header image" %> <br/>
        <img src= "<%= asset_path('header_img_web_app.png') %>"
          alt="tutor session header image"
          data-target= "tutor-sessions.imageShown"
          class= "w-100 mb-2"
          style= "max-width: 523px;"
        >
        <%= form.hidden_field :header_img, data: { target: "tutor-sessions.headerImg" } %>
      </div>

      <%# display description %>
      <div class="form-group field">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", rows: 5 %>
      </div>

      <%# display start and dend date/time with tempusdominus-bootstrap-4 %>
      <div class="row">
          <div class="form-group field col-12 col-md-6">
              <%= form.label :start_datetime, "Start date/time" %>
              <div class="input-group date" id="datetimepicker-start" data-target-input="nearest">
                  <%= form.text_field :start_datetime,
                      value: form.object.start_datetime ? form.object.start_datetime.strftime(form.object.datetime_format) : DateTime.now.next_day(1).strftime('%d/%m/%Y 9:00 AM'),
                      class: "form-control datetimepicker-input",
                      data: { target: "#datetimepicker-start" } %>
                  <div class="input-group-append" data-target="#datetimepicker-start" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
          <div class="form-group field col-12 col-md-6">
              <%= form.label :end_datetime, "End date/time" %>
              <div class="input-group date" id="datetimepicker-end" data-target-input="nearest">
                  <%= form.text_field :end_datetime,
                      value: form.object.end_datetime ? form.object.end_datetime.strftime(form.object.datetime_format) : DateTime.now.next_day(1).strftime('%d/%m/%Y 5:00 PM'),
                      class: "form-control datetimepicker-input",
                      data: { target: "#datetimepicker-end" } %>
                  <div class="input-group-append" data-target="#datetimepicker-end" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
      </div>

      <%# display max students number %>
      <div class="form-group field">
        <%= form.label :max_students_num, "Max students number (1 ~ 20)" %>
        <%= form.number_field :max_students_num, class: "form-control" %>
      </div>

      <%# display conference URL if the tutor selects online %>
      <div class="form-group field" data-target="tutor-sessions.confUrlWrapper">
        <%= form.label :conf_url, "Video conference URL" %>
        <%= form.text_field :conf_url, class: "form-control" %>
      </div>
    </div>

    <div class="col-12 col-md-6" data-target="tutor-sessions.mapWrapper">
      <%# store GPS coordinates to diplay the exact location later %>
      <%= form.hidden_field :latitude, data: { target: "tutor-sessions.latitude" } %>
      <%= form.hidden_field :longitude, data: { target: "tutor-sessions.longitude" } %>

      <%# display address with Google Place API. It will connect to tutor_sessions_controller.js (Stimulus js) %>
      <div class="form-group field" data-target="tutor-sessions.addressWrapper">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control", data: { target: "tutor-sessions.address", action: "keydown->tutor-sessions#preventSubmit" } %>
      </div>

      <%# display dynamic map image with Google Maps API %>
      <div class="map mb-4 rounded shadow-sm" data-target="tutor-sessions.map"></div>
    </div>

    <%# display submit button %>
    <div class="col-12">
      <div class="form-group actions">
        <%= form.submit class: "btn btn-primary btn-block mt-3" %>
      </div>
    </div>
  <% end %>
</div>