<% if user_signed_in? %>
  <%= form_with model: [tutor_session, comment], class: "my-5", data: {reflex: "submit->CommentReflex#submit_new", current_user_id: current_user.id, current_tutor_session_id: tutor_session.id} do |form| %>
    <% if comment.errors.any? %>
      <div id="error_explanation" >
          <h4 class="text-info"><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h4>
          <ul>
            <% comment.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.text_area :body, placeholder: "Enter your message", class: "form-control", id: "comment_new", row: 3 %>
    </div>

    <div class="actions">
      <% if user_signed_in? %>
        <%= form.submit class: "btn btn-success btn-sm" %>
      <% else %>
        <%= link_to 'Create Comment', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= link_to 'Log in to create comment', new_user_session_path, class: "btn btn-primary" %>
<% end %>
