<div style="background-color: #202020; color: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <p class="mt-4 font-weight-bold">
          <%= link_to "#{TutorSession.places[@tutor_session.place]}", search_tutor_session_path(search_option: "filtering", place: @tutor_session.place, category: "all_category_for_filter") %>
          <%= " > " %>
          <%= link_to "#{TutorSession.categories[@tutor_session.category]}", search_tutor_session_path(search_option: "filtering", place: @tutor_session.place, category: @tutor_session.category) %>
          <%#= "#{TutorSession.places[@tutor_session.place]} > #{TutorSession.categories[@tutor_session.category]}" %>
        </p>
        <div class="d-lg-none" style="background-color: white; color: black; border: none;" >
          <%= image_tag @tutor_session.header_img, class: "card-img-top", alt: "tutor session header image" %>
        </div>
        <h1 class=""><%= @tutor_session.title %></h1>
        <p><%= @tutor_session.description %></p>

        <%# tutor session datetime %>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-center show-icon">
              <i class="far fa-clock"></i>
          </div>
          <div class="col-11">
            <p class="m-0"><%= "From : #{@tutor_session.start_datetime.strftime('%A, %e %B %Y %l:%M %p')}" %></p>
            <p class="m-0"><%= "To : #{@tutor_session.end_datetime.strftime('%A, %e %B %Y %l:%M %p')}" %></p>
          </div>
        </div>

        <%# card style information which is about header image, the number of seats left, attend button, edit button, etc %>
        <%# this card style will be displayed only if the window size is greater than or equal to 992px %>
        <%= render 'show_card', card_body: "d-lg-none", card_text: "", attending: @attending, remained_seats: @remained_seats %>
      </div>

      <%# information which is about header image, the number of seats left, attend button, edit button, etc %>
      <%# this information will be displayed only if the window size is less than 992px %>
      <div class="d-none d-lg-block col-lg-4 card single-session-card shadow"
          style="background-color: white; color: black; border: none;" >
        <%= image_tag @tutor_session.header_img, class: "card-img-top", alt: "tutor session header image" %>
        <%= render 'show_card', card_body: "card-body", card_text: "card-text", attending: @attending, remained_seats: @remained_seats %>
      </div>
    </div>
  </div>
</div>

<%# if it is online, display only video conference URL. If it is offline, display address and Google map  %>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-7">
      <% if @tutor_session.place == "online" %>
        <%# display video conference URL %>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-center show-icon">
            <i class="fas fa-video"></i>
          </div>
          <div class="col-11">
            <%= link_to @tutor_session.conf_url do %>
              <p class="m-0 text-primary"><%= @tutor_session.conf_url %></p>
            <% end %>
          </div>
        </div>
      <% else %>
        <%# display address %>
        <div class="row align-items-center mb-3">
          <div class="col-1 text-center show-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="col-10">
            <p class="m-0" style="line-height: 1.3em;"><%= @tutor_session.address %>
              <%= link_to @tutor_session.direction_url, class: "show-icon ml-2", target: "_blank", id: "get-dir"  do %>
                <i class="fas fa-directions"></i>
              <% end %>
            </p>
          </div>
        </div>
        <%# display dynamic map %>
        <%# data-reflex-permanet should be added. If it is not, map will show a blank image whenever a comment is created, edited, or deleted  %>
        <%# because comment actions are based on Stimulus Reflex, and when refreshed, they cause the map div element refreshed but don't run show-map Stimulus JS controller. %>
        <%# By adding data-reflex-permanent, Stimulus Reflex will not refresh the map div element so that current map display status will be as it is %>
        <div data-reflex-permanent class="row mx-0" data-controller="show-map" data-action="google-maps-callback@window->show-map#initializeMap" latitude="<%= @tutor_session.latitude %>" longitude="<%= @tutor_session.longitude %>">
            <%= content_tag :div, nil, data: { target: "show-map.map" }, class: "show-map mb-5 rounded shadow" %>
        </div>
      <% end %>
    </div>
  </div>

  <%# render new comment and comments list %>
  <%= render 'new_comment', tutor_session: @tutor_session, comment: @comment%>
  <%= render 'index_comments', tutor_session: @tutor_session, comments: @comments%>
</div>


