<p>
  <strong>Title:</strong>
  <%= @tutor_session.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutor_session.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tutor_session.place %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tutor_session.category %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @tutor_session.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @tutor_session.end_datetime %>
</p>

<p>
  <strong>Conf url:</strong>
  <%= @tutor_session.conf_url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tutor_session.address %>
</p>

<p>
  <strong>Max students num:</strong>
  <%= @tutor_session.max_students_num %>
</p>

<%= link_to 'Edit', edit_tutor_session_path(@tutor_session) %> |
<%= link_to 'Back', tutor_sessions_path %>
