<li class="dropdown-item disabled">
  <span class="px-2"><%= image_tag profile_image, class: "profile-image small-profile-image" %></span>
  <span><strong><%= current_user.profile.get_name %></strong></span>

<li class="dropdown-item">
  <%= link_to 'My attend list (As Student)', tutor_sessions_my_attend_list_path, class: "nav-link" %>
</li>
<li class="dropdown-divider"></li>

</li>
<li class="dropdown-item">
  <%= link_to 'Create a new session (As Tutor)', new_tutor_session_path, class: "nav-link" %>
</li>
<li class="dropdown-item">
  <%= link_to 'My tutor sessions (As Tutor)', tutor_sessions_my_tutor_sessions_path, class: "nav-link" %>
</li>
<li class="dropdown-divider"></li>

<li class="dropdown-item dropdown-submenu">
  <%= link_to 'Account settings', "#",
      class: "nav-item nav-link dropdown-toggle"
  %>
  <%# dropdown menu for account settings %>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <%= link_to 'Edit profile', edit_profile_path(current_user.profile), class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      <%= link_to 'Change password', edit_user_registration_path, class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      <%= link_to 'Close account', user_registration_path, data: {confirm: "Are you sure?"}, method: :delete, class: "nav-link" %>
    </li>
  </ul>
</li>
<li class="dropdown-divider"></li>
<li class="dropdown-item">
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link" %>
</li>
